h1, h2 {
    font-family: 'Anton', sans-serif;
}

body {
    font-family: 'Abel', sans-serif;
    background-color: #F0F0F0;
}
#circle1 {
    background-color: #E6563B;
    border: solid white 10px;
    color: white;
}
#circle2 {
    background-color: #EB9D3A;
    border: solid white 10px;
    color: white;

}
#circle3 {
    background-color: #7CB06C;
    border: solid white 10px;
    color: white;
}
#circle4 {
    background-color: #00ABA9;
    border: solid white 10px;
    color: white;

}
.circles {
    /*margin: 16px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-text {
    margin-top: 50px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}